/*стилизация index.html*/

.body-main {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  text-transform: none;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/*универсальные классы*/

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.input {
  box-sizing: border-box;
  width: 300px;
  line-height: 24px;
  padding: 9px 14px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-size: 14px;
  color: #999999;
}

.input::placeholder {
  color: #999999;
}

.button {
  background-color: #f26843;

  color: #fefefe;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  padding: 10px 25px;

  border: none;
  border-radius: 22px;

  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);

}

/*header*/

.main-header {
  padding: 0 27px;
}

/*site-navigation*/

.site-navigation {
  list-style: none;
  -webkit-padding-start: 0;
}

.site-navigation__item {
  display: inline-block;
  position: relative;
  border-radius: 16px;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.sub-menu-container {
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 5px;
}

.site-navigation__button {
  position: relative;


  display: block;

  font-size: 16px;
  line-height: 18px;
  padding: 7px 14px;
  vertical-align: center;
  font-weight: bold;
  color: #ffffff;

  box-sizing: border-box;

  border-radius: 16px;
}

.site-navigation__button::after {
  content: "";

  display: block;

  position: absolute;
  top: 80%;
  left: 14px;
  right: 14px;

  background-color: #a5baae;

  height: 1px;
  }

.site-navigation__item:hover .site-navigation__button {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation__item:hover .site-navigation__button::after {
  display: none;
}

.site-navigation__item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: -7px;
}

.sub-menu {
  list-style: none;
  -webkit-padding-start: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-menu__button {
  display: block;
  box-sizing: border-box;
  width: 143px;
  line-height: 16px;
  padding: 9px 20px;

  font-size: 14px;
  font-weight: normal;
  color: #323232;
  vertical-align: center;
}

.sub-menu__item:hover {
  background-color: #fbded7;
}

.sub-menu__item:active {
  background-color: #f6b5a5;
}

.sub-menu__item_underlined {
  position: relative;
}

.sub-menu__item_underlined+* {
  margin-top: 1px;
}

.sub-menu__item_underlined::after {
  position: absolute;
  left: 6px;
  right: 9px;
  content: "";
  display: block;
  padding: 0;
  border-bottom: 1px solid #d1d0ce;
}

.sub-menu__item:first-child,
.sub-menu__item:first-child .sub-menu__button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sub-menu__item:last-child,
.sub-menu__item:last-child .sub-menu__button{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu__button_bold {
  font-weight: bold;
}

/*user-navigation*/

.user-navigation__item {
  background-color: #a0b5a9;
  background-repeat: no-repeat;

  height: 32px;
  border-radius: 16px;

  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.search-wrapper {
  position: relative;
  width: 32px;
  background-image: url("../img/decorative/loupe.svg");
  background-position: 50% 50%;
  background-size:17px 17px;
}

.search {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f7f4;

  box-sizing: border-box;
  width: 341px;
  padding: 20px 15px;

  border-radius: 5px;
}

.search-wrapper:hover {
  background-color: #f8f7f4;
  background-image: url("../img/decorative/loupe-inverted.svg");
}

.search-wrapper:hover .search {
  display: block;
}

.search__input {
  box-sizing: border-box;
  width: 311px;
}

.login-wrapper {
  position: relative;

  box-sizing: border-box;
  width: 92px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;

  line-height: 16px;
  text-align: right;
  vertical-align: middle;

  background-image: url("../img/decorative/entrance-white.svg");
  background-size: 20px 19px;
  background-position: 16px 50%;
}

.login {
  position: absolute;
  top: 100%;
  left: 0;

  box-sizing: border-box;
  width: 277px;
  padding: 20px 18px;

  background-color: #f8f7f4;

  border-radius: 5px;
}

.login__input {
  width: 239px;
  margin-bottom: 20px;
}

.login-wrapper:hover {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/decorative/entrance.svg");
}

.login-wrapper:hover .login {
  display: block;
}
