/*стилизация index.html*/

.body-main {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  text-transform: none;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/*универсальные классы*/

.hidden {
  display: none;
}

/*header*/

.main-header {
  padding: 0 27px;
}

.site-navigation {
  list-style: none;
  -webkit-padding-start: 0;
}

.site-navigation__item {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  line-height: 28px;
}

.sub-menu-container {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 5px;
}

.site-navigation__button {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  box-sizing: border-box;
  padding: 5px 14px;
  border-radius: 15px;
}

.site-navigation__button>span {
  position: relative;
}

.site-navigation__button>span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px solid #a5baae;
}

.site-navigation__item:hover .site-navigation__button {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation__item:hover span::after {
  border-bottom: none;
}

.site-navigation__item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: -7px;
}

.sub-menu {
  list-style: none;
  -webkit-padding-start: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-menu__button {
  display: block;
  box-sizing: border-box;
  width: 143px;
  line-height: 34px;
  padding: 0 20px;

  font-size: 14px;
  font-weight: normal;
  color: #323232;
  vertical-align: center;
}

.sub-menu__item:hover {
  background-color: #fbded7;
}

.sub-menu__item_underlined {
  position: relative;
}

.sub-menu__item_underlined+* {
  margin-top: 1px;
}

.sub-menu__item_underlined::after {
  position: absolute;
  left: 6px;
  right: 9px;
  content: "";
  display: block;
  padding: 0;
  border-bottom: 1px solid #d1d0ce;
}

.sub-menu__item:first-child,
.sub-menu__item:first-child .sub-menu__button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sub-menu__item:last-child,
.sub-menu__item:last-child .sub-menu__button{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu__button_bold {
  font-weight: bold;
}


